<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{titulo_pagina}</title>
</head>
<body>
    <h1>{titulo_foto}</h1>
    <p>
        <a href="{enlace_foto}">
            <img src="{foto}" height="100"/>
        </a>
        <br>
        <br>
        <h3>{NIF}</h3>
        <h3>{Razon_Social}</h3>
        <h3>{Direccion}</h3>
        <h3>{Telefono}</h3>
        <p>Para ir al enlace pincha <a href="{enlace1}" title="{texto_enlace}">aquí</a></p>
        <p>Para ir al enlace pincha <a href="{enlace_foto1}" title="{texto_enlace}">aquí</a></p>
    </p>

</body>
</html>